
.pnglogo {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.texto {
    letter-spacing: 3px;
    color: white;
    margin-top: 8px;
    font-size: 100px;
}

.fondo {
    margin-bottom: 178px;
    width: 700px;
}

.historia {
    text-align: left;
}

.content {
    margin-top: 50px;
}

.libertadores {
    background-image: url("imagenes/cancha.jpg");
    background-size: cover;
}

.plantel {
    width: 500px;
    margin-top: 20px;
    margin-left: 35px;
}

.river {
    width: 50px;
}

body {
    background-image: url(/imagenes/25319.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.textopp{
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 10px black;
}